<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Tsunami Store</title>
    <%- include("partials/head") %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include("partials/navigation") %>

    <!-- MAIN CONTENT -->
    <main class="contenedor">
      <h1>Nuestros Productos</h1>
      <div class="grid">
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="https://i.ebayimg.com/thumbs/images/g/VB4AAOSwkY9jtCPP/s-l300.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >T-shirt Calvin Klein </p>
                      <p class="producto__precio" >$28</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="https://m.media-amazon.com/images/I/4192nEc052L._SL500_.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >Large Shirt Calvin Klein</p>
                      <p class="producto__precio" >$40</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="https://m.media-amazon.com/images/I/51kDnfh18gL._AC_UY1000_.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >Tommy Hilfiger</p>
                      <p class="producto__precio" >$25</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="https://tommypanama.vteximg.com.br/arquivos/ids/315888-500-667/MW0MW26771_YBR_1.jpg?v=638010738849100000" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >Large Tommy Hilfiger</p>
                      <p class="producto__precio" >$35</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="https://i.ebayimg.com/thumbs/images/g/s~sAAOSw~MRc~mCs/s-l300.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >T-shirt Lacoste</p>
                      <p class="producto__precio" >$25</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="https://cdn-images.farfetch-contents.com/19/77/43/87/19774387_44315774_300.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >Long-shirt Lacoste</p>
                      <p class="producto__precio" >$35</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="https://i.pinimg.com/474x/a8/6e/ab/a86eab4dab562fb435e288b8c6c3f9bf.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >Aeropostale T-shirt</p>
                      <p class="producto__precio" >$20</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="img/8.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >Giithub</p>
                      <p class="producto__precio" >$25</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="img/9.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >BulmaCSS</p>
                      <p class="producto__precio" >$25</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="img/10.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >TypeScript</p>
                      <p class="producto__precio" >$25</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="img/11.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >Drupal</p>
                      <p class="producto__precio" >$25</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="img/12.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >JavaScript</p>
                      <p class="producto__precio" >$25</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="img/13.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >GraphQL</p>
                      <p class="producto__precio" >$25</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="producto">
              <a href="/contact">
                  <img  class="producto__imagen" src="img/14.jpg" alt="imagen camisa">
                  <div class="producto__informacion">
                      <p class="producto__nombre" >WordPress</p>
                      <p class="producto__precio" >$25</p>
                  </div>
              </a>
          </div> <!--producto fin-->
          <div class="grafico grafico--camisas"></div>
          <div class="grafico grafico--node"></div>
      </div>
  </main>

    <!-- FOOTER -->
    <%- include("partials/footer") %>


  </body>
</html>
